* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body {
    font-family: Arial, Roboto;
    font-size: 16px;
    color: #000000;
    background-color: #ECF0F1;
}
header {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #000000;
    /*background-color: #bd9756;*/
    /*#FFFFFF*/
    ;
    /*border: 2px solid red;*/
    position: fixed;
    z-index: 1000;
}
header .container-header {
    width: 100%;
    height: 15vh;
    /*border: 2px solid blue;*/
    padding: 0;
    margin: 0;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}
header .container-header .logo {
    /*border: 2px solid blue;*/
    width: 70%;
    height: 15vh;
    overflow: hidden;
    text-align: center;
}
header .container-header .spacingup {
    width: 30%;
    height: 15vh;
    padding: 20px;
    /*border: 2px solid blue;*/
    background-color: #FFFFFF;
}
header .container-header .logo img {
    width: 25%;
    /*border: 2px solid red;*/
}
header .container-header .main-menu {
    /*border: 2px solid blue;*/
    width: 40%;
    height: 15vh;
    display: none;
}
header .container-header .main-menu nav {
    /*border: 2px solid red;*/
    width: 100%;
    height: 14vh;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
}
header .container-header .main-menu nav a {
    display: inline-block;
    padding: 5px;
    margin: 30px 5px;
    border-bottom: 3px solid none;
    /*border: 2px solid red;*/
    text-align: center;
    font-size: 16px;
    color: #aa8f56;
    text-decoration: none;
    transition: all 0.3s linear;
}
header .container-header .main-menu a:hover {
    box-sizing: border-box;
    border-bottom: 3px solid #bd9756;
}
.section-main {
    position: relative;
    top: 100px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    /*border: 2px solid red;*/
}
#article-main, .container-main-form {
    height: 120vh;
    padding: 0px;
    margin: auto;
    /*border: 2px solid blue;*/
}
#article-main {
    width: 70%;
}
.container-main-form {
    width: 30%;
    background-color: white;
}
.article-main .container-video, .article-main .container-video iframe {
    width: 100%;
    padding: 0px;
    /*margin: 0px;*/
    background-color: black;
}
.article-main .container-video {
    height: 100%;
}
.article-main .container-video iframe {
    height: 100%;
}
.article-main .container-thumb {
    width: 90%;
    /*border: 2px solid red;*/
    margin: 50px auto;
    display: none;
}
.article-main .container-thumb img {
    width: 100%;
}
.container-main-form .contain-form {
    width: 100%;
    height: 100vh;
    padding: 0px;
    /*border: 2px solid green;*/
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.container-main-form .container-form .container-info, .container-main-form .container-form .container-main-control, .container-main-form .container-form .container-main-remarke, .container-main-form .container-form .container-main-control, .container-main-form .container-form .container-main-back {
    width: 100%;
    padding: 5px;
    /*border: 2px solid red;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.container-main-form .container-form .container-info {
    height: 35vh;
}
.container-main-form .container-form .container-main-remarke {
    height: 30vh;
}
.container-main-form .container-form .container-main-control {
    height: 16vh;
}
.container-main-form .container-form .container-main-back {
    height: 18vh;
}
.container-main-form .container-form .container-info .info-person .input-main {
    width: 100%;
    padding: 10px;
    border: 1px solid #D0D3D4;
    font-size: 1em;
    background-color: white;
    color: #000000;
    margin: 7px 0px;
    font-family: Roboto;
    transition: 0.3s all linear;
}
.container-main-form .container-form .container-info .info-person .input-main:hover {
    color: #bd9756;
    border-bottom: 1px solid #bd9756;
}
.container-main-form .container-form .container-main-remarke .container-remarke {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0px;
    /*border: 2px solid green;*/
}
.container-main-form .container-form .container-main-remarke .container-remarke #remarke {
    width: 100%;
    height: 26vh;
    font-family: Roboto;
    font-size: 16px;
    border: 1px solid #D0D3D4;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: 0.3s all linear;
}
.container-main-form .container-form .container-main-remarke .container-remarke #remarke:hover {
    color: #bd9756;
    border: 1px solid #bd9756;
}
.container-main-form .container-form .container-main-control .container-control {
    /*border: 2px solid red;*/
    width: 100%;
}
.container-main-form .container-form .container-main-control .container-control .btn-main {
    width: 100%;
    padding: 0px;
    /*border: 2px solid blue;*/
    margin: 5px 0px;
    text-align: center;
}
.container-main-form .container-form .container-main-control .container-control .btn-main .input-btn {
    width: 90%;
    padding: 5px;
    border-radius: 1px;
    border: none;
    font-size: 16px;
    border: 1px solid #bd9756;
    background-color: #FFFFFF;
    transition: all 0.3s linear;
}
.container-main-form .container-form .container-main-control .container-control .btn-main .send:focus {
    background-color: #4FC3F7;
    border: 1px solid #4FC3F7;
}
.container-main-form .container-form .container-main-control .container-control .btn-main .reset:focus {
    background-color: #CB4335;
    border: 1px solid #CB4335;
}
.container-main-form .container-form .container-main-control .container-control .btn-main .send:hover {
    background-color: #4FC3F7;
    border: 1px solid #4FC3F7;
    color: #FFFFFF;
}
.container-main-form .container-form .container-main-control .container-control .btn-main .reset:hover {
    background-color: #CB4335;
    border: 1px solid #CB4335;
    color: #FFFFFF;
}
header .container-header .spacingup .media {
    width: 100%;
    /*border: 2px solid red;*/
    padding: 5px;
    text-align: center;
    font-size: 1.5em;
}
header .container-header .spacingup .media a {
    text-decoration: none;
    display: inline-block;
    margin: 0px 5px;
    text-align: center;
    transition: all 0.3s linear;
}
header .container-header .spacingup .media a span {
    size: 1.5em;
}
header .container-header .spacingup .media #facebook {
    color: #aa8f56;
}
header .container-header .spacingup .media #instagram {
    color: #aa8f56;
}
header .container-header .spacingup .media #youtube {
    color: #aa8f56;
}
header .container-header .spacingup .media #facebook:hover {
    color: #3b5998;
}
header .container-header .spacingup .media #instagram:hover {
    color: #8743ba;
}
header .container-header .spacingup .media #youtube:hover {
    color: #dc2725;
}
/*------------------------style for theme select--------------------------------*/

.container-main-form .container-form .container-main-items {
    /*border: 2px solid red;*/
    width: 100%;
    height: 38vh;
    padding: 0px;
}
.container-main-form .container-form .container-main-items .container-items {
    width: 100%;
    height: 100%;
    padding: 10px;
    text-align: center;
    /*border: 2px solid green;*/
}
.container-main-form .container-form .container-main-items .container-items .select-conf {
    width: 90%;
}
.borderRadius {
    -moz-border-radius: 2px;
    border-radius: 2px;
    /*border-color: red;*/
}
.items .borderRadiusBtm {
    border-radius: 0px;
}
.ddcommon {
    position: relative;
    display: -moz-inline-stack;
    zoom: 1;
    display: inline-block;
    /*border: 2px solid red;*/
    width: 100%;
}
.ddcommon .disabled img, .ddcommon .disabled span, .ddcommon.disabledAll {
    opacity: .1;
    -ms-filter: "alpha(opacity=50)";
    filter: alpha(opacity=50);
    -khtml-opacity: .5;
    -moz-opacity: .5;
    /*border: 2px solid red;*/
}
.ddcommon .clear {
    clear: both
}
.borderRadiusTp .border, .borderRadius .border {
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}
.borderRadiusBtm .border {
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}
img.fnone {
    float: none !important;
}
.ddcommon .divider {
    display: none;
    width: 0px;
    height: 100%;
    position: absolute;
    /*border: 2px solid green;*/
}
.title-opt {
    margin: 20px auto;
    text-align: center;
    font-weight: 500;
    font-family: roboto;
}
.ddcommon .ddTitle {
    padding: 0;
    position: relative;
    display: inline-block;
    width: 90%;
    height: 100%;
    /*border: 2px solid red;*/
}
.ddcommon .ddTitle .ddTitleText {
    display: block;
}
.ddcommon .ddTitle .ddTitleText .ddTitleText {
    padding: 0;
}
.ddcommon .ddTitle .description {
    display: block;
}
.ddcommon .ddTitle .ddTitleText img {
    position: relative;
    vertical-align: middle;
    float: left;
}
.ddcommon .ddChild {
    position: absolute;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    zoom: 1;
    z-index: 100;
    /*border: 2px solid red;*/
    border-radius: 0px;
}
.ddcommon .ddChild li {
    text-decoration: none;
    text-decoration-color: none;
    /*border:2px solid green;*/
}
.ddcommon .ddChild li .description {
    display: block;
    text-decoration: none;
    border: 2px solid blue;
}
.ddcommon .ddChild li img {
    border: 0 none;
    position: relative;
    vertical-align: middle;
    float: left;
    text-decoration: none;
}
.ddcommon .noBorderTop {
    border-top: none 0 !important;
    padding: 0;
    margin: 0;
    /*border-color: red;*/
}
/*************** default theme **********************/

.dd {
    text-align: center;
    width: 100%;
    height: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #D0D3D4;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    text-decoration: none;
}
.dd:focus, .dd:hover {
    border: 1px solid #bd9756;
}
.dd .divider {
    border-left: 2px solid #bd9756;
    right: 30px;
}
.dd .ddTitle {
    color: #bd9756;
    background: #ffff;
}
.dd .ddTitle .ddTitleText {
    padding: 5px 10px 5px 5px;
}
.dd .ddTitle .ddTitleText .ddTitleText {
    padding: 0;
}
.dd .ddChild li {
    padding: 5px;
    background-color: #fff;
    border: 1px solid #c3c3c3;
    text-decoration: none;
}
.dd .ddChild li .description {
    color: #666;
    text-decoration: none;
}
.dd .ddChild li .ddlabel {
    margin-left: 10px;
    color: #333;
    text-decoration: none;
}
.dd .ddChild li.hover {
    background-color: #;
}
.dd .ddChild li img {
    padding: 0 6px 0 0;
    text-decoration: none;
}
.dd .ddChild li.optgroup {
    padding: 0;
    background-color: red;
}
.dd .ddChild li.optgroup .optgroupTitle {
    padding: 0 5px;
    font-weight: bold;
    font-style: italic;
}
.dd .ddChild li.optgroup ul li {
    padding: 5px 5px 5px 15px;
    text-decoration: none;
}
.dd .ddChild li.selected {
    background-color: #d5d5d5;
    color: #000;
    text-decoration: none;
}