* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    background-color: #cccc;
    font-family: 'Roboto', sans-serif;
    color: #FFFF;
}
/*section-items*/

.slyder {
    position: relative;
    top: 0px;
    width: 100%;
    margin: 0;
}

/* ------------------- conf section-items ----------------------- */

.section-main {
    width: 100%;
    padding: 0px;
    margin: auto;
    box-sizing: border-box;
    position: relative;
    top: 200px;
}
.wrap {
    max-width: 1080px;
    width: 90%;
    margin: auto;
    box-sizing: border-box;
    /*overflow: hidden;*/
    padding: 20px;
    /*border: 2px solid green;*/
}
.flex-conteiner {
    /*border: 2px solid blue;*/
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0px;
}
#anillos, #dijes {
    width: 1050;
    height: 325px;
    background-size: cover;
    margin-top: 0px;
    margin-bottom: 30px;
}
.section-main .wrap .flex-conteiner #anillos {
    background-size: cover;
    background-image: url('../img/bn-01.jpg');
    /*border: 2px solid red;*/
}
.section-main .wrap .flex-conteiner #dijes {
    background-size: cover;
    background-image: url(../img/bn-03.jpg);
    /*border: 2px solid green;*/
}
.content-info {
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
    margin: 50px 50px;
}
.info {
    margin: auto;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
}
.info .title {
    color: #EC7063;
    font-size: 1.5;
    font-family: 'Lobster', cursive;
    margin: 10px;
}
.info .description {
    color: #E74C3C;
    font-size: 1em;
}
.btn {
    margin: auto;
    width: 150px;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    background-color: #CD6155;
}
.btn a {
    text-decoration: none;
    color: #ffff;
    font-size: 16px;
    font-weight: 700;
}
.btn:hover {
    background-color: #ABEBC6;
}
/* ------------------ conf footer -------------------*/

footer {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    text-align: center;
    background-color: #2b252c;
    padding: 0px;
    position: relative;
    top: 250px;
}
footer .copyright {
    margin: 10px auto;
    padding: 20px;
    text-align: center;
    width: 90%;
}
footer .wrap-foo {
    width: 100%;
    /*border: 2px solid blue;*/
    margin: 0px;
    padding: 0px;
}
footer .wrap-foo .conteiner {
    width: 100%;
    /*border: 2px solid white;*/
    margin: 0px;
    padding: 0px;
}
footer .wrap-foo .conteiner .box-foo {
    width: 100%;
    /*border: 2px solid red;*/
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
footer .wrap-foo .conteiner .box-foo .box-one {
    width: 40%;
    height: 300px;
    margin: 0px 10px;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    /*border: 2px solid white;*/
}
footer .wrap-foo .conteiner .box-foo .box-two, footer .wrap-foo .conteiner .box-foo .box-tree {
    width: 20%;
    height: 300px;
    margin: 0px 0px;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    /*border: 2px solid red;*/
}
footer .wrap-foo .conteiner .box-foo .box-tree {
    width: 30%;
    /*border: 2px solid blue;*/
}
footer .wrap-foo .conteiner .box-foo .title h2 {
    color: #90A4AE;
    font-size: 1em;
    text-align: center;
    margin: 10px;
}
footer .wrap-foo .conteiner .box-foo .contact h2 {
    color: #ECEFF1;
    font-size: 16px;
    text-align: center;
    margin: 0px 0px;
    line-height: 30px;
}
footer .wrap-foo .conteiner .box-foo .contact span {
    color: #90A4AE;
    margin: 0px 5px;
}
footer .wrap-foo .conteiner .box-foo .descrip p {
    color: #ECEFF1;
    font-size: 16px;
    text-align: justify;
}
footer .wrap-foo .conteiner .box-foo .social {
    margin: auto;
    padding: 10px;
    text-align: center;
    width: 100%;
    border-radius: 40px;
    background-color: #302a31;
}
footer .wrap-foo .conteiner .box-foo .social a {
    text-decoration: none;
    display: inline-block;
    margin: 0px 10px;
    color: #90A4AE;
    font-size: 1em;
    border-radius: 100%;
}
footer .wrap-foo .conteiner .box-foo .social a:hover {
    color: #ffff;
}
footer #copyright {
    color: #c8a22b;
    font-size: 12px;
    font-weight: 400;
}
@media screen and (min-width: 650px) and (max-width: 780px) {
    .section-main {
        /*border: 2px solid blue;*/
        width: 90%;
        padding: 0;
        margin: auto;
    }
    .section-main .wrap {
        /*border: 2px solid green;*/
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .section-main .wrap .flex-conteiner {
        /*border: 2px solid black;*/
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .section-main .wrap .flex-conteiner .box-flex-movil {
        /*border: 2px solid orange;*/
        width: 100%;
        padding: 60px;
        margin: auto;
    }
    .section-main .wrap .flex-conteiner .box-flex-movil .content-info {
        /*border: 2px solid blue;*/
        width: 100%;
        padding: 0px;
        margin: 0px;
    }
    .section-main .wrap .flex-conteiner #anillos {
        background-size: cover;
        background-image: none;
        background-color: #FADBD8;
        /*border: 2px solid red;*/
    }
    .section-main .wrap .flex-conteiner #dijes {
        background-size: cover;
        background-image: none;
        background-color: #FADBD8;
        /*border: 2px solid green;*/
    }
}
@media screen and (min-width: 280px) and (max-width: 700px) {
    footer {
        width: 100%;
        padding: 0px;
        /*border: 2px solid white;*/
    }
    footer .wrap-foo, footer .wrap-foo .conteiner, footer .wrap-foo .conteiner .box-foo {
        width: 100%;
        /*border: 2px solid blue;*/
        padding: 0px;
        margin: 0px;
    }
    footer .wrap-foo .conteiner .box-foo .movil-foo-one, footer .wrap-foo .conteiner .box-foo .movil-foo-two, footer .wrap-foo .conteiner .box-foo .movil-foo-tree {
        /*border: 2px solid green;*/
        width: 100%;
        height: 250px;
        padding: 10px;
        overflow: auto;
    }
    footer .wrap-foo .conteiner .box-foo .movil-foo-two, footer .wrap-foo .conteiner .box-foo .movil-foo-tree {
        margin-top: 60px;
    }
    footer .wrap-foo .conteiner .box-foo .movil-foo-one .contact h2 {
        font-size: 16px;
        text-align: center;
    }
    footer .wrap-foo .conteiner .box-foo .movil-foo-one .contact span {
        font-size: 16px;
        text-align: center;
    }
}
@media screen and (max-width: 650px) and (min-width: 280px) {
    .section-main {
        /*border: 2px solid blue;*/
        width: 100%;
        padding: 0;
        margin: 0;
        top: 10px;
    }
    .section-main .wrap {
        /*border: 2px solid green;*/
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .section-main .wrap .flex-conteiner {
        /*border: 2px solid black;*/
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .section-main .wrap .flex-conteiner .box-flex-movil {
        /*border: 2px solid orange;*/
        width: 100%;
        padding: 60px;
        margin: auto;
    }
    .section-main .wrap .flex-conteiner .box-flex-movil .content-info {
        /*border: 2px solid blue;*/
        width: 100%;
        padding: 0px;
        margin: 0px;
    }
    .section-main .wrap .flex-conteiner #anillos {
        background-size: cover;
        background-image: none;
        background-color: #FADBD8;
        /*border: 2px solid red;*/
        padding: 0px;
    }
    .section-main .wrap .flex-conteiner #dijes {
        background-size: cover;
        background-image: none;
        background-color: #FADBD8;
        /*border: 2px solid green;*/
        padding: 0px;
    }
    footer #copyright {
        color: #c8a22b;
        font-size: 10px;
        font-weight: 400;
    }
}